/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-main: 'Poppins', sans-serif;

/* Colors */
$blue: #030195;
$purple:#3D1295;
$orange:#FF9D00;
$orange-dark:#C75400;

/* @Media queries*/
$xxxl:1680px;
$xxl:1480px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

